<h1>Listing articles</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.created_at %></td>
        <td><%= article.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
